body {
    background: rgb(160, 160, 160);
    padding: 0;
    margin: 0;
    min-width: 700px;

}

.topBlock {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    border-bottom: 10px;
    border-bottom-color: white;
    min-width: 700px;
}

.iconButton {
    background-image: url("../pictures/pylaunch icon.png");
    background-color: transparent;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    color: transparent;
}

.iconButton:hover{
    border-radius: 30%;
}

.divcontent {
    position: absolute;
    left:25%; 
    top: -20px;
}

.h2Heads {
    text-align: center;
}

.introduction {
    text-align: left;
}

.docsButton {
    background-size: contain;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    left: 15%;
    width: 42px;
    height: 48px;
    margin: 0px;
    padding: 1px;
    border: 0px;
    font-size: medium;
}