body {
    background: rgb(160, 160, 160);
    padding: 0;
    margin: 0;
    min-width: 700px;
}

.topBlock {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
}

.iconButton {
    background-image: url("../pictures/pylaunch icon.png");
    background-color: transparent;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
}

.divcontent {
    align-self: center;
    position: absolute;
    left:25%; 
    right: 25%;
    width:fit-content;
    height: fit-content;
    margin: 0%;
    top: 10px;
    min-width: 500px;
}