<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/pyLaunch icon.png') }}">
</head>

<body>
    <div class="topDiv"><form><input action="/intro" name="docsButton" value="Docs" class="docsButton" type="submit" method="post"></form><form method="post" action="/"><input name="iconButton" value="iconbtn" class="iconButton" type="submit"></form>{% block divcontent %}{% endblock %}</div>
    {% block content %}
    {% endblock %}
</body>

</html>