{% extends "base.html" %}

{% block title %}intro{% endblock %}

{% block divcontent %}
<h1 class="divcontent">version 1.0 coming soon</h1>
{% endblock %}
<h3 class=""></h3>
{% block content %}
<h2 class="h2Heads">Version Info</h2>

<h3 class="introduction">Do you like to make python games or want to make a python ui but dont want to go through the dart hole of windows ui? well introducing pylaunch you can make ui on your browser. All you need to do is make a python file with importing a library and you will be able to see your ui.</h3>

<h2 class="h2Heads">Future updates</h2>

<dl>
    <dt>acounts</dt>
    <dd>- this can help add many things like saving and posting</dd>
    <dt>home page</dt>
    <dd>- coming with accounts you can have a home page with reccomended and other main things</dd>
    <dt>documentation</dt>
    <dd>- documentation comes with the library</dd>
</dl>
{% endblock %}